{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        body {
            background-image:url('{% static "img/lo.jpg" %}');
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body >
   
    <section>
  <div
    class="flex bg-white items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-8 mt-16"
  >
    <div class="xl:mx-auto xl:w-full shadow-md p-4 xl:max-w-sm 2xl:max-w-md">
      <div class="mb-2 flex justify-center"></div>
      <h2 class="text-center text-2xl font-bold leading-tight text-black">
        Sign in to your account
      </h2>
      <a href="{% url 'register' %}" class="mt-10 text-center text-sm text-gray-600">
        Don't have an account? <span class="text-purple-500"> Create a free account</span>
      </a>
      <form class="mt-8" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="space-y-5 h-[30rem] flex flex-col justify-center content-center">
    <div>
      <label for="username" class="text-base font-medium text-gray-900">Username</label>
      <div class="mt-2">
        <input id="username" placeholder="username" type="text" class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50" name="email" required>
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <label for="password" class="text-base font-medium text-gray-900">Password</label>
      </div>
      <div class="mt-2">
        <input id="password" placeholder="Password" type="password" class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50" name="password" required>
      </div>
    </div>
    <div>
      <input type="submit" class="inline-flex w-full items-center justify-center rounded-md bg-black px-3.5 py-2.5 font-semibold leading-7 text-white hover:bg-black/80" value="Login">
    </div>
    <div>
       {% if msg %}<h5 style="color:blueviolet;">{{msg}}</h5>{% endif %}
    </div>
  </div>
</form>
    </div>
  </div>
</section>

    
</body>

</html>